body{
	padding-top: 5rem;
}
header{
	height: 5rem;
}
/*search*/
.search{
	text-align: center;
}
.search input{
	width: 21.875rem;
	height: 1.75rem;
	border: 0;
	outline: none;
	border-radius: 20px;
	background-image: url(../img/home_search.png);
	background-repeat: no-repeat;
	background-position: 0.4375rem center;
	background-size: 1rem 0.875rem;
	color:#9B9B9B;
	font-family: 'PingFangSC-Light';
	padding-left: 2.1875rem;
	font-size: 0.875rem;
}
.choice_bar{
	top:2.5rem;
}
/*sub筛选*/
/*.filter_mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 100001;
	display: none;
}
.sub_filter_box{
	width: 12.5rem;
	background-color: #fff;
	position: fixed;
	right: 0;
	height: 100%;
}
.finish_btn{
	padding-top:0.9375rem;
	padding-right: 0.9375rem;
	padding-bottom: 0.25rem;
	font-size: 0.75rem; 
	color: #666;
}
.filter_content{
	height: 35rem;
	overflow: hidden;
}
.sort_2 > li{
	height: 2.1875rem;
	line-height: 2.1875rem;
	padding-left: 1.875rem;
	margin-bottom:  0.5rem;
}
.sort_2 > li.active{
	background-image: url(../img/sub_fil.png);
	background-repeat: no-repeat;
	background-size: 0.3125rem 2.1875rem;
	background-color: rgba(231,164,155,0.20);
}
.sort_2 > li > a{
	color: #666;
	width:  9.625rem;
	display: inline-block;
	height: 2.1875rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 0.875rem;
}*/

/*details*/
.SKU_details{
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	margin-top: 1.625rem;
	text-align: center;
}
.SKU_details .details{
	background-image:url(../img/bg_product.png); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	-height: 10.3125rem;
	margin-bottom: 1.25rem;
}