body{
	padding-top: 5rem;
}
header{
	height: 5rem;
}
/*search*/
.search{
	text-align: center;
}
.search input{
	width: 21.875rem;
	height: 1.25rem;
	border: 0;
	outline: none;
	background-image: url(../img/home_search.png);
	background-repeat: no-repeat;
	background-position: 0.4375rem center;
	background-size: 1rem 0.875rem;
	color:#9B9B9B;
	font-family: 'PingFangSC-Light';
	padding-left: 2.1875rem;
	font-size: 0.875rem;
}
/*details*/
.SKU_details{
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	margin-top: 1.625rem;
}
.SKU_details .details{
	background-image:url(../img/bg_product.png); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	-height: 10.3125rem;
	margin-bottom: 1.25rem;
}