body{
	background: #f2f2f2;
	font-size: 0.875rem;
}
.bodier{
	height:12.5rem;
	width: 100%;
	background-color: #fff;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}
.jump_tip{
	padding:1.875rem 1.25rem;
	background-color: rgba(0,0,0,0.40);
	color: #fff;
	line-height: 1.5rem;
	width: 18.4375rem;
	border-radius:10px;
	margin: -1.5rem auto 0;
}	