.success-tip {
  margin-top: 15%;
  text-align: center
}

.success-tip .icon-right {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("/v2/image/wap/ico_right@2x.png") no-repeat;
  background-size: 50px 50px
}

.success-tip .form-title {
  margin: 15px 0 10px
}
