body{
	font-family:'PingFangSC-Light';
	font-size: 0.875rem;
	color:#5a5a5a;
	letter-spacing:-0.34px;
	padding-bottom: 3.125rem;
}
header{
	color: #fff;
	background-color: #7f7c87;
	height: 7.1875rem;
	padding-left: 1.25rem;
	vertical-align: middle;
}
.title_box{
	height: 7.1875rem;
	display: table-cell;
	vertical-align: middle;

}
.boider > div{
	margin-bottom: 1.25rem;
}
/*default_address*/
.default_address{
	background-color: #fff;
}
.address_box{
	font-family:'PingFangSC-Thin';
	font-size: 0.875rem;
	letter-spacing:0.14px;
	color:#868191;
	margin-left: 1.25rem;
	margin-right:1.25rem;
	padding-top: 0.1875rem;
	padding-bottom: 0.8125rem;
	position: relative;
	line-height: 1.75rem;
}
.default_address{
	font-size: 0.75rem;
	color:#c46566;
	letter-spacing:0.12px;
}
.user_name{
	margin-bottom: 1.125rem;
}
.edit{
	background-image: url(../img/pencil.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.4375rem;
	height: 1.4375rem;
	display: inline-block;
	position: absolute;
	top: 0.5rem;
	right: 0;
}
/*product*/
.about_product{
	background-color: #fff;
}
.my_order_det{
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.order_state{
	color: #c46566;
}
.product_det li{
	background:#f9f9f9;
	padding: 0.9375rem 0.4375rem;
	margin-bottom:0.625rem;
	color: #9b9b9b;
}
.product_det li:last-child{
	margin-bottom: 0;
}
.product_photo{
	width: 5.625rem;
	height: 5.625rem;
	background:#ccc;
	margin-right: 0.625rem;
}
.sum{
	border-top:1px solid rgba(151,151,151,.2);
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.sum > div{
	height:3.75rem;
	line-height: 3.75rem;
}
.counts{
	margin-left: 1.5625rem;
}
.sum_money{
	color:#c46566;
	font-size: 1.125rem;
}
.pay_back{
	height: 1.9375rem;
	line-height: 1.9375rem;
	padding-left: 0.9375rem;
	padding-right: 0.8125rem;
	background:#c46566;
	display: inline-block;
	color: #fff;
	border-radius: 2px;	
}
/*footer*/
footer{
	width: 100%;
	height: 3.125rem;
	line-height: 3.125rem;
	background-color: #fff;
	position: fixed;
	bottom: 0;
}
footer span{
	display: inline-block;
	line-height: 1.875rem;
	height: 1.875rem;
	width:  4.5rem;
	text-align: center;
	border-radius: 3px;
	border:1px solid #b9b9b9;
	margin-right: 0.9375rem;
}