*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
body{
	max-width: 650px;
	margin: auto;
  background-color: #f2f2f2;
}
a,a:focus,a:hover{
	text-decoration: none;
}
/*设置字体*/
@font-face {
  font-family: yati;
  src: url("../fonts/ya.otf"); 
}
/*清除浮动*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
/*swiper_bullet*/
.swiper-pagination-bullet{
	width:0.625rem;
	height:0.625rem;
}
.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background:#f8b8af;
}
.warming{
	padding: 1rem;
	line-height: 1rem;
	background-color: rgba(63,60,71,.7);
	color:#fff; 
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -1.5rem;
	margin-left: -4rem;
	display: none;
	z-index: 10000;
}
/*背景图*/
.bg{
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
/*loading*/
.spinner {
	margin: 0.625rem auto;
	width: 150px;
	text-align: center;
}

.spinner > div {
	width: 0.75rem;
	height: 0.75rem;
	background-color: #c46566;
	border-radius: 100%;
	display: inline-block;
	margin-right: 0.375rem;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
	  transform: scale(0.0);
	  -webkit-transform: scale(0.0);
	} 40% {
	  transform: scale(1.0);
	  -webkit-transform: scale(1.0);
	}
}