body{
	padding-bottom: 3.125rem;
}
#commentForm{
	margin-top: 1.25rem;
}
.user_comment{
	background:#ffffff;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding-top: 2.0625rem;
	padding-bottom: 2.0625rem;
	padding-left: 0.75rem;
	margin-bottom: 1.1875rem;
}
/*photos*/
.feel{
	margin-bottom: 3.0625rem;
}
.photo_replace{
	width: 6rem;
	height: 6rem;
	border-radius: 4px;
	margin-right: 1.25rem;
}
textarea{
	border: none;
	resize:none;
	outline: none;
	height: 6rem;
	font-size:0.875rem;
	color:#595757;
	font-family: 'PingFangSC-Thin';
}
/*add photos*/
.fileList img{
	border:1px solid #e0e0e0;
	border-radius: 4px;
}
.fileList{
	display: inline-block;
}
.fileElem{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}
.filebox{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	position: relative;
	line-height: 5rem;
	border:1px solid #e0e0e0;
}
.mask_add_input{
	text-align: center;
	width: 100%;
	font-size: 0.875rem;
	color:#595757;
	font-family: 'PingFangSC-Thin';
}
.pic_box{
	display: inline-block;
	position: relative;
	margin-right:0.5625rem;
	margin-bottom:0.5625rem;
}
.cross_pic{
	width: 1.3125rem;
	height: 1.3125rem;
	background-image: url(../img/cross.png);
	background-repeat: no-repeat;
	background-size: 0.75rem 0.75rem;
	background-color:rgba(195,195,195,0.80);
	background-position: center center;
	border-radius: 100%;
	position: absolute;
	top: 0;
	right: -0.6rem;
	margin-top:-0.5rem;
}
/*evaluate*/
.evaluate{
	margin-top: 1.5rem;
}
.evaluate span{
	display: inline-block;
	color:#595757;
	font-family: 'PingFangSC-Thin';
	background-repeat: no-repeat;
	background-size: 1.3125rem 1.3125rem;
	background-position: left center;
	background-image: url(../img/choose_normal.png);
	padding-left: 1.5rem;
	margin-right: 1rem;
}
.evaluate span.active{
	background-image: url(../img/choose_selected.png);
}
/*footer*/
footer{
	height: 3.125rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	background: #fff;
	border-top:1px solid #e9e9e9;
}
.publish_btn{
	width: 8.5rem;
	height: 3.125rem;
	line-height: 3.125rem;
	background:#5a5665;
	font-family:'PingFangSC-Light';
	font-size:0.875rem;
	text-align: center;
	color: #fff;
	padding:0!important;
}
a.publish_btn:focus, a.publish_btn:hover{
	color: #fff;
}