.bodier{
	font-size: 0.875rem;
}
.tit{
	color: #333;
}
.my_points .content{
	color: #9b9b9b;
}
.can_get_eggs .content{
	color: #333;
}
.can_get_eggs .content input{
	width: 9.75rem;
	outline: none;
	border: none;
}
.can_get_eggs .content input::placeholder{
	color: #bbb;
}
.content_box{
	width: 100%;
	height: 3.75rem;
	background: #fff;
	line-height: 3.75rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin-bottom: 1px;
}
.get_btn{
	color: #fff;
	background-color: #eea193;
	width: 21.5625rem;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 1.875rem auto 0;
}