body{
	padding-top: 5rem;
}
header{
	height: 5rem;
}
/*search*/
#search {
	width: 21.875rem;
	height: 1.25rem;
	border: 0;
	outline: none;
	background-image: url(../img/home_search.png);
	background-repeat: no-repeat;
	background-position: 0.4375rem center;
	background-size: 1rem 0.875rem;
	color:#9B9B9B;
	font-family: 'PingFangSC-Light';
	padding-left: 2.1875rem;
	font-size: 0.875rem;
	display: block;
	margin:0 auto;
}
/*banner*/
.banner_index{
	background-image: url(../img/banner_index.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 20.75rem;
}
.grey_bar{
	height: 0.625rem;
	background-color: #a0a0a2;
}
/*type_tab*/
.type_tab{
	background: #fff;
}
.type_tab ul{
	padding-top: 3.125rem;
	padding-bottom: 2.125rem;
}
.type_tab ul li{
	padding-right: 0!important;
	padding-left: 0!important;
}
.type_tab ul li a{
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	height: 3.125rem;
	width: 4.5rem;
	display: block;
	line-height: 3.125rem;
	text-align: center;
	color:#fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 0.5rem;
	margin-left: 2.1875rem;
	margin-bottom: 1.5rem;
	float: left;
	font-size: 0.875rem;
}
/*banner2*/
.banner_swiper{
	background-image:url(../img/home_bg_1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: left top;
	padding-top: 1.3125rem;
	padding-bottom: 1.8rem;
}
.banner_swiper .title{
	background-image: url(../img/home_logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:12.375rem 2.03125rem;
	height: 2.03125rem;
	margin-bottom: 1.875rem;
}
/*coupon*/
.banner_swiper .coupon .swiper-slide{
	padding-right: 0!important;
	padding-left: 0!important;
	width: 100px;
	height: 64px;
	margin-left: 18px;
	margin-top: 1.5625rem;
}
.banner_swiper .coupon .swiper-slide a {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% 100%;
	display: inline-block;
	width: 100%;
	height: 100%;
	color:#fff;
	padding-top: 0.75rem;
}
.coupon_price{
	font-size: 22px;
}
.coupon_price span{
	display: inline-block;	
}
.money_mark{
	margin-right: 0.5rem;
}
/*order*/
.order{ 
	height:35.3125rem;
	background-image: url(../img/order.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left center;
	padding-top: 1.75rem;
}
.order ul li{
	width:6.4375rem;
	height: 4.6875rem;
	padding-right: 0!important;
	padding-left: 0!important;
	margin-left: 1.65625rem;
	margin-right: -0.59375rem;
	display: inline-block;
}
.order ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
/*4种类型的排版*/
.sorts a{
	display: block;
	width: 49.8%;
}
.sorts img{
	width: 100%;
}
.sort1 a{
	width: 100%;
}
/*goods_list*/
.goods_list .swiper-slide{
	width:22.5rem!important;
}
.goods_list .swiper-slide img{
	box-sizing: border-box;
	width:22.5rem!important;
	height: 11.875rem;
}
/*go_top*/
.go_top,.customer_service{
	width: 3.125rem;
	height: 3.125rem;
	position: fixed;
	right: 1.125rem;
	background-size: 3.125rem 3.125rem;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100000;
	display: none;
}
.go_top{
	bottom: 4.5rem;
	background-image: url(../img/all_top.png);
	background-size: 3.7rem 3.7rem;
}
.customer_service{
	bottom: 1.125rem;
}
/*seckill*/
.seckill{
	position: relative;
}
.seckill_time{
  background-color: #bdb3cb;
  height: 1.5625rem;
  color: #fff;
  font-size: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 0.625rem;
  font-family: 'PingFangSC-Thin';
}
.seckill_time span{
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
}
.seckill_mask{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100000;
	height: 4.21875rem;
	width: 100%;
	background-image: url(../img/seckill_mask.png);
	background-repeat: no-repeat;
	background-position:left top;
	background-size: 100% 100%;
	opacity: 0.8;
}
/*通栏文字*/
.tlwz{
	font-family: 'PingFangSC-Thin';
	font-size: 0.875rem;
	line-height: 1.125rem;
	color: #5a5a5a;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #fff;
	border-bottom: 1px solid rgba(151,151,151,.2);
}
.tlwz>div{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.tlwz:last-child >div{
	border-bottom:none;
}
.logo{
	color: #c46566;
	font-size: 0.875rem;
	font-family: 'PingFangSC-Thin';
	border-radius: 4px;
	border: 1px solid #c46566;
	padding:0.2rem 0.2rem;
	box-sizing:border-box;
	display: inline-block;
}
.module_box > div{
	margin-bottom: 1px;
}
.module_box > div:last-chlid{
	margin-bottom: none;
}
/*广告*/
.adver_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	top: 0;
	z-index: 100001;
	display: none;
}
.adver_main{
	width: 16.1875rem;
	text-align: center;
	margin: 10rem auto;
}
.adver_top_pic{
	width: 100%;
	margin-bottom: 1.25rem;
}
.adver_top_pic img{
	width: 100%;
}
.adver_delete img{
	width: 1.25rem;
}
