body{
	padding-top: 5rem;
}
header{
	height: 5rem;
}
/*search*/
.search{
	text-align: center;
}
.search input{
	width: 21.875rem;
	height: 1.25rem;
	border: 0;
	outline: none;
	background-image: url(../img/home_search.png);
	background-repeat: no-repeat;
	background-position: 0.4375rem center;
	background-size: 1rem 0.875rem;
	color:#9B9B9B;
	font-family: 'PingFangSC-Light';
	padding-left: 2.1875rem;
	font-size: 0.875rem;
}
/*banner*/
.banner_index{
	background-image: url(../img/banner_index.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 20.75rem;
}
.grey_bar{
	height: 0.625rem;
	background-color: #a0a0a2;
}
/*type_tab*/
.type_tab{
	background: #fff;
}
.type_tab ul{
	padding-top: 3.125rem;
	padding-bottom: 2.125rem;
}
.type_tab ul li{
	padding-right: 0!important;
	padding-left: 0!important;
}
.type_tab ul li a{
	width: 3.125rem;
	height: 3.125rem;
	display: inline-block;
	line-height: 3.125rem;
	text-align: center;
	color:#fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 2.8125rem;
	margin-left: 1.875rem;
	margin-bottom: 1.5rem;
}
/*banner2*/
.banner_swiper{
	background-image:url(../img/home_bg_1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left center;
	height: 38.25rem;
	padding-top: 1.3125rem;
}
.banner_swiper .title{
	background-image: url(../img/home_logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:12.375rem 2.03125rem;
	height: 2.03125rem;
	margin-bottom: 1.875rem;
}
/*coupon*/
.banner_swiper .coupon ul li{
	padding-right: 0!important;
	padding-left: 0!important;
	width: 6.5625rem;
	height: 4.21875rem;
	margin-left: 1.125rem;
	margin-top: 1.5625rem;
}
.banner_swiper .coupon ul li a {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% 100%;
	display: inline-block;
	width: 100%;
	height: 100%;
	color:#fff;
	padding-top: 0.75rem;
}
.coupon_price{
	font-size: 1.375rem;
}
.coupon_price span{
	display: inline-block;	
}
.money_mark{
	margin-right: 0.5rem;
}
/*order*/
.order{ 
	height:35.3125rem;
	background-image: url(../img/order.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left center;
	padding-top: 1.75rem;
}
.order ul li{
	width:6.4375rem;
	height: 4.6875rem;
	padding-right: 0!important;
	padding-left: 0!important;
	margin-left: 1.65625rem;
	margin-right: -0.59375rem;
	display: inline-block;
}
.order ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
/*4种类型的排版*/
.sorts{
	float: left;
	width: 50%;
}
.sorts img{
	width: 100%;
}
.sort1{
	width: 100%;
}
.sort1 img{
	width: 100%;
}
/*.sort3 img{
	width: 100%;
}
.sort4 img{
	width: 100%;
}*/

/*item_pic 图片测试边框*/
.goods_list .swiper-slide{
	width:18.75rem!important;
}
.goods_list .swiper-slide img{
	box-sizing: border-box;
	border: 1px solid #000;
	width:18.75rem!important;
}
/*go_top*/
.go_top{
	width: 3.75rem;
	height: 3.75rem;
	position: fixed;
	bottom: 1.125rem;
	right: 1.125rem;
	background: url(../img/all_top.png) no-repeat center center;
	background-size: 100% 100%;
	z-index: 100000;
	opacity: 0;
}
/*seckill*/
.seckill_time{
  background-color: #bdb3cb;
  height: 1.5625rem;
  color: #fff;
  font-size: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 0.625rem;
  font-family: 'PingFangSC-Thin';
}
.seckill_time span{
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
}


