body{
	padding-top: 3.125rem;
}
.bodier{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.bodier .title{
	margin:0.875rem auto 0;
	background-image: url(../img/introduce_title.png);
	background-repeat: no-repeat;
	background-size: 17.8125rem 5.3125rem;
	background-position: center center;
	width: 17.8125rem;
	height: 5.3125rem;
}
.bodier .introduction{
	background-color: #fff;
	color:#5a5a5a;
	font-size: 0.875rem;
	font-family: '-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,SimSun,\\5B8B\4F53,Heiti,\\9ED1\4F53,sans-serif';
	padding: 1.25rem 0.9375rem 0.9375rem;
	line-height: 1.7;
}
.bodier .introduction{
	margin-bottom: 1.25rem;
}
.bodier .introduction .pic{
	width: 100%;
	margin-bottom: 0.625rem;
}