
body{
	background-color: #fff;
	padding-top: 1.5625rem;
}
.group{
	margin-left: 0.875rem;
	margin-right: 0.875rem;
	border-bottom: 1px solid #e9e9e9;
}
.group:last-child{
	border-bottom:none;
	margin-bottom: 0.875rem;
}
.group label{
	padding-left:0.5625rem;
	line-height: 3.5rem;
	margin-right: 2.5rem;
	margin-bottom: 0;
	font-family:'.PingFangSC-Light';
	letter-spacing:-0.34px;
	color:#5a5a5a;
	font-size:0.875rem;
	font-weight: normal;
	width:2.3125rem;
    white-space: nowrap;
	font-family: 'PingFangSC-Light';
}
.group input[type=text],.shipping_address{
	width:14.5rem!important;
	font-size:0.875rem;
	letter-spacing:-0.34px;
	font-family: 'PingFangSC-Light';
}
.shipping_address{
	display:inline-block;
}
.group input.phone_num_optional{
	margin-bottom: 2.083333rem;
}
.phone_optional label{
	opacity: 0;
}
.group input,.group input:focus{
	border:none;
	outline: none;	    
}
.group.photo_box{
	position: relative;
	padding-bottom: 0.75rem;
}
#photo{
	position: absolute;
	right: 0;
	top:0;
	height: 100%;
}
#preview{
	width: 3.375rem;
	height: 3.375rem;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top:0;
	overflow:hidden;
	border: 1px solid rgba(151,151,151,0.2);
}
.radio-inline input[type=radio]{
	position: static;
	
}
.sex .choose_sex{
	font-family: 'PingFangSC-Light';
	font-size:0.875rem;
}
.sex .choose_sex:last-child{
	margin-left: 2.5625rem;
}
.sex .choose_sex img{
	width: 1.375rem;
	height: 1.375rem;
}
#start_date{
	width: 6.65rem!important;
}
.address_box{
	position: relative;
}
.arrow_right{
	position: absolute;
	right: 0;
	top: 50%;
    margin-top: -12px;
}
.constellation{
	color:#f8b8af;
	opacity: 0.7;
}
.phone_num{
	background-color: #fff;
}
.save{
	display: inline-block;
	opacity:0.75;
	background:#5a5665;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 3.125rem;
	line-height: 3.125rem;
	position: fixed;
	bottom: 0;
	font-size: 0.875rem;
	max-width: 650px;
}
@media screen and (min-width: 375px) {
	.group input[type=text],.shipping_address{
		width: 14.375rem!important;
	}
}
