body{
	font-family:'PingFangSC-Light';
	font-size: 0.875rem;
	color:#5a5a5a;
	letter-spacing:-0.34px;
}
.pay_succeed{
	font-size: 1rem;
	background-color: #fff;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	height: 7.1875rem;
	line-height: 7.1875rem;
}
.pay_succeed .share{
	width: 4.375rem;
	height: 4.375rem;
	line-height: 4.375rem;
	background-color: #e8a49b;
	color: #fff;	
	border-radius: 50%;
	text-align: center;
	margin-top: 1.40625rem;
}
.go_btn{
	text-align: center;
	margin-top: 1.5625rem;
}
.go_btn > span a{
	display: inline-block;
	width: 6.625rem;
	background-color: #c46666;
	text-align: center;
	color: #fff;
	height: 1.875rem;
	line-height: 1.875rem;
}
.go_btn > span a:focus{
	color: #fff;
}
/*share mask*/
.share_mask{
	position: fixed;
	top: 0;
	width: 100%;
	background:rgba(0,0,0,.6);
	font-size: 1.375rem;
	color:#fff;
	font-family: 'PingFangSC-Light';
	padding-top: 4.6875rem;
	padding-right: 5.9375rem;
	z-index: 10001;
	height: 100%;
	display: none;
	z-index: 100001;
}
.share_arrow{
	display: inline-block;
	width: 3.8rem;
	height: 5rem;
	position: absolute;
	top: 0.625rem;
	right: 1.25rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../img/share_arrow.png);
	transition: 1s;
	transform: rotateX(180deg);
}